.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.register-container {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../../../assets/transparent.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.form-wrapper {
  display: flex;
  /* background: rgba(255, 255, 255, 0.7); */
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 80%;
  max-width: 1200px;
}

.form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.illustration-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration-container img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

p {
  margin-bottom: 30px;
  color: #666;
}

.input-container {
  margin-bottom: 12px;
  padding: 8px;
}
.select-container {
  margin-bottom: 12px;
  padding: 8px;
}
.select-container select {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 25px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-container select option {
  width: 100%;
  color: #333;
}
.input-container input {
  width: 100%;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  outline: none;
  font-size: 25px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container input::placeholder {
  color: #aaa;
  font-size: 15px;
}

.create-account-button,
.sign-in-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.create-account-button {
  background: #20736b;
  color: #fff;
}

.sign-in-button {
  background: #f0f0f0;
  color: #333;
}

.create-account-button:hover,
.sign-in-button:hover {
  opacity: 0.9;
}

.card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #354d5f;
  overflow: hidden;
}

.indicator {
  list-style: none;
  font-size: 15px;
}

.error-message {
  color: red;
  font-size: 10px;
}
