.choose-container {
    text-align: center;
    padding: 50px 90px;
    
    display: flex;
    margin-top: 3rem;
  }

  .choose {
    text-align: left;
    padding-left: 3rem;
  }

  .choose-why {
    color:#ff6b6b;
    font-size: 3.1em;
  }
  
  .choose-heading {
    font-size: 2.1em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .choose-subheading {
    font-size: 1.1em;
    color: #777;
    margin-bottom: 40px;
  }
  
  .choose-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .featuring {
    margin: 20px;
    text-align: left;
    display: flex;
    gap: 1.5rem;
  }
  
  