.about-us-container {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  font-family: Arial, sans-serif;
  color: #666;
}

.about-us-wel {
  padding-bottom: 1rem;
}

.about-us-container h1,
.about-us-container h2 {
  color: #ff6b6b;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: unset;
  font-weight: 500;
  font-size: 2.7rem;
}

.about-us-container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us-container ul,
.about-us-container ol {
  margin-bottom: 20px;
  font-size: 18px;
}

.about-us-container ul li,
.about-us-container ol li {
  margin-bottom: 10px;
  font-size: 18px;
}

.about-us-container ul li strong,
.about-us-container ol li strong {
  color: #2980b9;
  font-size: 20px;
}

.about-us-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-container ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.about-us-container h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-carousel {
  margin: 20px 0;
}

.carousel .slide img {
  height: 500px;
  width: 60%;
  border-radius: 10px;
}



/* @media (max-width: 600px) {
  .about-us-container {
    padding: 10px;
  }

  .about-us-container h1, .about-us-container h2 {
    font-size: 20px;
  }

  .about-us-container p {
    font-size: 14px;
  }
} */
