.about-us-container {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
  font-family: Arial, sans-serif;
  color: #666;
}

.about-us-wel {
  padding-bottom: 1rem;
}

.about-us-container h1,
.about-us-container h2 {
  font-size: 36px;
  font-weight: 500;
  color: #2600ff7c;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  background: linear-gradient(to right, #ff4500, #002f6c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us-container p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-us-container ul,
.about-us-container ol {
  margin-bottom: 20px;
  font-size: 18px;
}

.about-us-container ul li,
.about-us-container ol li {
  margin-bottom: 10px;
  font-size: 18px;
}

.about-us-container ul li strong,
.about-us-container ol li strong {
  color: #2980b9;
  font-size: 20px;
}

.about-us-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-container ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.about-us-container h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about-carousel {
  margin: 20px 0;
  text-align: center;
}

.carousel .slide img {
  height: 500px;
  width: auto;
  max-width: 100%;
  border-radius: 10px;
}

.--about-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  color: blue;
}

.--about-learn-more {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  background: #0033cc;
  color: #fff;
}



@media (max-width: 600px) {
  .about-us-container {
    padding: 10px;
  }

  .about-us-container h1,
  .about-us-container h2 {
    font-size: 20px;
  }

  .about-us-container p {
    font-size: 14px;
  }
}
