.Hero {
  display: flex;
  justify-content: space-around;
  margin-left: 6rem;
  margin-top: 3rem;
}

.--Hero-Image img {
  width: 35rem;
}

.--Hero-Content {
  padding: 4rem;
}


.--Hero-Content h2 {
  font-weight: 2rem;
  font-size: 2rem;
}

.--Hero-SubContent {
  display: flex;
  gap: 1rem;
}

.--Hero-SubContent-inner p {
  margin-top: 10px;
}

.span {
 text-decoration: underline red solid;
}